@using PagedList
@using PagedList.Mvc
@model IPagedList<HRMS.Models.WorkLocationMaster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().WorkLocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SAPCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkLocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAPCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.WorkID }) |
                @Html.ActionLink("Details", "Details", new { id = item.WorkID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.WorkID })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
