@model HRMS.Models.SegmentMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SegmentMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SegmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SAPCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAPCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SegmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
