@model HRMS.Models.HRMS_COST_CENTER

@{
    ViewBag.Title = "Edit";
}

<h2>Update</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cost Center</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        <span class="col-md-2 control-label">
            <i class="glyphicon glyphicon-asterisk" style="color:red"></i>
            @Html.LabelFor(model => model.Cost_Cntr_Code)
        </span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cost_Cntr_Code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cost_Cntr_Code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="col-md-2 control-label">
            <i class="glyphicon glyphicon-asterisk" style="color:red"></i>
            @Html.LabelFor(model => model.Cost_Cntr_Name)
        </span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cost_Cntr_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cost_Cntr_Name, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Parent_Cost_Cntr_Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Parent_Cost_Cntr_Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Parent_Cost_Cntr_Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ledger_Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ledger_Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ledger_Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
@if (ViewBag.cost_Status != null)
{
    <div class="alert alert-success alert-dismissible " style="width:50%;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span>
            @ViewBag.cost_Status
        </span>
    </div>
}

<div>
    @Html.ActionLink("Back to CostList", "Index", new { area = "" }, htmlAttributes: new { @class = "glyphicon glyphicon-chevron-left" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
