@model HRMS.Models.CastMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CastMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReligionMaster.ReligionShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReligionMaster.ReligionShortName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CastCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
