@model IEnumerable<HRMS.Models.HRMS_ATTACHMENT_TYPE>

@{
    ViewBag.Title = "Index";
}


<h2>Attachment types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model.Count<HRMS.Models.HRMS_ATTACHMENT_TYPE>() > 0 && Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attachment_Type_Name)
            </th>
            <th><i class="glyphicon glyphicon-wrench"> </i> Operations</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="@item.Attachment_Type_ID">
                <td>
                    @Html.DisplayFor(modelItem => item.Attachment_Type_Name)
                </td>
                <td>
                    @Html.ActionLink(" Edit", "Edit", new { id = item.Attachment_Type_ID }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-edit" }) |
                    <button class="btn btn-danger" onclick="return removeFromList(this, '@item.Attachment_Type_ID') "><i class="glyphicon glyphicon-trash"> </i> Delete</button>

                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="container">
        <h2>sorry!!! We don't have any Attachment Type Right Now...</h2>
    </div>
}
<script>

    function removeFromList(thisobj,id) {
    var data = JSON.stringify({
        'id': id
        });
        $.ajax({
    type: "POST",
            contentType: "application/json",
            url: "@Url.Action("Delete","Attachment")",
            datatype: "json",
            data: data,
            success: function (response) {
            var tr = $(thisobj).closest("tr");
                    $(tr).remove();
        }
    });
}
</script>
