@model HRMS.Models.HRMS_EMP_BUSINESSDIVISION_MS

@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <h4>HRMS_EMP_BUSINESSDIVISION_MS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessDivision_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessDivision_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessDivision_SapCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessDivision_SapCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BusinessDivision_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
